* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Syne', sans-serif;
  text-align: center
}
.linknav{
    line-height: 100px;
  }

h2 {
  padding: 1rem;
}

#tabs {
  text-align: center;
}

#nav,
#logo {
  display: inline-block;
  padding: 1rem;
}

#nav {
  text-align: right;
}


#logo {
  width: 100px;
  height: 95px;
  float: left;
}

h4{
  padding: 1rem;
}

.left,
.right {
  display: inline-block;
  padding: 1rem;
}

.task {
  text-align: center;
}

p{
  padding-bottom: 1rem;
}


.button{
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 10px 14px;
  outline: 0;
  border: 0px solid black;
  cursor: pointer;
  position: relative;
/*   background-color: rgba(0, 0, 0, 0); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: lightblue;
}
/* 
.button:after {
  content: "";
  background-color: lightblue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
} */


#divider {
  width: 99%;
  padding-left: 4rem;
  padding-right: 4rem;

}


.search-form {
  margin: 15px 0;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.search-form i {
  position: absolute;
  font-size: 26px;
  width: 36px;
  height: 36px;
  padding: 8px;
}

.search-form input {
  width: 100%;
  padding: 8px 12px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
}

.search-form input:focus {
  outline: none;
  border: 1px solid black;
}

.search-results .result-items{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 0.5px solid black;
}

/*  front page thing */

/* navbar */
#nav{
  width:100%;
  
}

.linknav{
  padding: 20px;
  text-decoration: none;
  color: #212121
}

.profileimg{
  width:40px;
  height: 40px;
  position: relative;
  top: 10px;
}

/* .stuff{
  display: flex;
  flex-direction: c;
}

 */