h2 {
  padding: 1rem;
}

#tabs {
  text-align: center;
}

#nav,
#logo {
  display: inline-block;
  padding: 1rem;
}

#nav {
  text-align: right;
}


#logo {
  width: 100px;
  height: 95px;
  float: left;
}

h4{
  padding: 1rem;
}

.left,
.right {
  display: inline-block;
  padding: 1rem;
}

.task {
  text-align: center;
}

p{
  padding-bottom: 1rem;
}

/* 
.button:after {
  content: "";
  background-color: lightblue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
} */


#divider {
  width: 99%;
  padding-left: 4rem;
  padding-right: 4rem;

}

.search-form {
  margin: 15px 0;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.search-form i {
  position: absolute;
  font-size: 26px;
  width: 36px;
  height: 36px;
  padding: 8px;
}

.search-form input {
  width: 100%;
  padding: 8px 12px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid cornflowerblue;
  border-radius: 30px;
}

.search-form input:focus {
  outline: none;
  border: 1px solid black;
}

.search-results .result-items{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 0.5px solid black;
}


/*  front page thing */

/* navbar */
#nav{
  width:100%;
  
}

body{
  text-align: center;
}

h3{
  text-align: center;
  padding-bottom: 2%;
}
#submittedTasksList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#submittedTasksList td,
#submittedTasksList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#submittedTasksList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#submittedTasksList tr:hover {
  background-color: #ddd;
}

#submittedTasksList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a3399;
  color: white;
}


#acceptedTasksList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#acceptedTasksList td,
#acceptedTasksList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#acceptedTasksList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#acceptedTasksList tr:hover {
  background-color: #ddd;
}

#acceptedTasksList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a3399;
  color: white;
}


.inside{
  display: inline-block;
  padding-bottom: 3%;
}

input{
  width: 50%;
  height: 50px;
  border-radius: 7px;
  border-color: #3a3399;
  padding: 7px;
}

button{
    background-color: #3a3399;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
}

.linknav{
    line-height: 100px;
  }