* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Syne', sans-serif;
}

h2 {
  padding: 1rem;
}

#tabs {
  text-align: center;
}

#nav,
#logo {
  display: inline-block;
  padding: 1rem;
}

#nav {
  text-align: right;
}


#logo {
  width: 100px;
  height: 95px;
  float: left;
}

#nav{
  width:100%;
  
}

.linknav{
  padding: 20px;
  text-decoration: none;
  color: #212121
}

.profileimg{
  width:40px;
  height: 40px;
  position: relative;
  top: 10px;
}

/*  main center thing*/

.main-center{
  width: 75%;
  text-align: center;
  margin: auto;
  top: 10%;
}


body{
  text-align: center;
}

h3{
  text-align: center;
  padding-bottom: 2%;
}
#submittedTasksList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#submittedTasksList td,
#submittedTasksList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#submittedTasksList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#submittedTasksList tr:hover {
  background-color: #ddd;
}

#submittedTasksList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a3399;
  color: white;
}


#acceptedTasksList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#acceptedTasksList td,
#acceptedTasksList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#acceptedTasksList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#acceptedTasksList tr:hover {
  background-color: #ddd;
}

#acceptedTasksList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a3399;
  color: white;
}


.inside{
  display: inline-block;
  padding-bottom: 3%;
}

input{
  width: 50%;
  height: 50px;
  border-radius: 7px;
  border-color: #3a3399;
  padding: 7px;
}

button{
    background-color: #3a3399;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
}

.linknav{
    line-height: 100px;
  }